<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.meet.mapper.UserMapper">

    <resultMap id="users" type="com.cn.meet.model.entity.UserInfoEntity">
        <result column="telephone" property="telephone"/>
        <result column="language" property="language"/>
        <result column="country" property="country"/>
        <result column="aliasName" property="aliasName"/>
        <result column="birthday" property="birthday"/>
        <result column="weight" property="weight"/>
        <result column="sex" property="sex"/>
        <result column="city" property="city"/>
        <result column="shape" property="shape"/>
        <result column="race" property="race"/>
        <result column="emotion" property="emotion"/>
        <result column="selfIntroduction" property="selfIntroduction"/>
        <result column="expectType" property="expectType"/>
        <result column="expectSex" property="expectSex"/>
        <result column="expectShape" property="expectShape"/>
        <result column="expectRace" property="expectRace"/>
        <result column="expectAge" property="expectAge"/>
        <result column="hobby" property="hobby"/>
        <result column="religion" property="religion"/>
        <result column="edutication" property="edutication"/>
        <result column="smoke" property="smoke"/>
        <result column="hasBaby" property="hasBaby"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="imgPath" property="imgPath"/>

    </resultMap>


    <select id="checkPhone" resultType="int">
        select count(*) from user where telephone = #{phone}
    </select>

    <insert id="savePhoneVerify" parameterType="com.cn.meet.req.oracle.PhoneInfoReq" useGeneratedKeys="true"
            keyProperty="id">
        insert into user(telephone, language, country) values(#{telephone},#{language},#{country})
    </insert>

    <select id="checkAliasName" resultType="int">
        select count(*) from user where aliasName = #{aliasName}
    </select>

    <update id="saveUserInfo" parameterType="com.cn.meet.req.oracle.UserInfoReq">
        update user set language=#{language},country=#{country},aliasName=#{aliasName},edutication=#{edutication},
        birthday=#{birthday}, religion=#{religion},hasBaby=#{hasBaby},smoke=#{smoke}, expectShape=#{expectShape},
        hobby=#{hobby}, expectAge=#{expectAge}, ip=#{ip},expectRace=#{expectRace}, weight=#{weight}, sex=#{sex},
        shape=#{shape}, expectSex=#{expectSex},race=#{race}, emotion=#{emotion}, expectType=#{expectType},
        selfIntroduction=#{selfIntroduction}, updateTime=#{updateTime}, createTime=#{createTime}, city=#{city}
        where telephone=#{telephone}
    </update>

    <select id="getUserInfo" resultType="com.cn.meet.model.entity.UserInfoEntity">
        select * from user where aliasName=#{name}
    </select>

    <select id="getUserToken" resultType="java.lang.String" parameterType="java.lang.String">
        select token from user where telephone=#{telephone}
    </select>

    <update id="updateUserLocation" parameterType="com.cn.meet.req.oracle.UserInfo3Req">
        update user set longitude = #{longitude}, latitude=#{latitude}, token=#{token}, online = '1' where telephone=#{telephone}
    </update>

    <select id="getAllUser" resultMap="users">
        select * from user
    </select>

    <select id="getvicinity" resultMap="users" parameterType="com.cn.meet.model.entity.Vicinity">
        select *, ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{latitude} * PI()/180-latitude*PI()/180)/2),2)
        + COS(#{latitude}*PI()/180)*COS(latitude*PI()/180)*POWER(SIN((#{longitude}*PI()/180-longitude*PI()/180)/2),
               2))) * 1000) AS distance
        from user where longitude &gt;= #{minlng} and longitude &lt;= #{maxlng} and latitude &gt;= #{minlat}
        and latitude &lt;= #{maxlat} and telephone != #{telephone} and online = '1' ORDER by id ASC limit #{max}, #{size}
    </select>

    <select id="getvicinitysort" resultMap="users">
        SELECT *,ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{latitude} * PI()/180-latitude*PI()/180)/2),2)
        + COS(#{latitude}*PI()/180)*COS(latitude*PI()/180)*POWER(SIN((#{longitude}*PI()/180-longitude*PI()/180)/2),
               2))) * 1000) AS distance FROM user WHERE telephone != #{telephone} and online = '1'
        ORDER BY distance ASC LIMIT #{max}, #{size}
    </select>

    <update id="logout" parameterType="com.cn.meet.req.oracle.BaseReq">
        update user set token = '', online = '0' where telephone=#{telephone}
    </update>

    <update id="updateUserFilePath" parameterType="java.lang.String">
        update user set imgPath = #{filePath} where telephone=#{telephone}
    </update>

</mapper>