<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.meet.mapper.UserMapper">

    <select id="checkPhone" resultType="int">
        select count(*) from user where telephone = #{phone}
    </select>

    <insert id="savePhoneVerify"  parameterType="com.cn.meet.req.oracle.PhoneInfoReq" useGeneratedKeys="true" keyProperty="id">
        insert into user(telephone, language, country) values(#{telephone},#{language},#{country})
    </insert>

    <select id="checkAliasName" resultType="int">
        select count(*) from user where aliasName = #{aliasName}
    </select>

    <update id="saveUserInfo" parameterType="com.cn.meet.req.oracle.UserInfoReq">
        update user set language=#{language},country=#{country},aliasName=#{aliasName},
        edutication=#{edutication}, birthday=#{birthday}, religion=#{religion},hasBaby=#{hasBaby},
        smoke=#{smoke}, expectShape=#{expectShape}, hobby=#{hobby}, expectAge=#{expectAge}, ip=#{ip},
        expectRace=#{expectRace}, weight=#{weight}, sex=#{sex}, shape=#{shape}, expectSex=#{expectSex},
        race=#{race}, emotion=#{emotion}, expectType=#{expectType}, selfIntroduction=#{selfIntroduction},
        updateTime=#{updateTime}, createTime=#{createTime}
        where telephone=#{telephone}
    </update>

</mapper>